# build output
dist
.next
.vscode

# dependencies
node_modules
package-lock.json
test/node_modules

# logs & pids
*.log
yarn-error.log
pids
.sass-cache/
*.css.map

# test output
test/**/out
.DS_Store
